<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
    <form [formGroup]="searchByStopIDForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- <div class="row">
          <div class="col-md-10">
            <input class="form-control" type="text" formControlName="stopInputField">
          </div>
          <div class="col-md-2"><button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button></div>
        </div> -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="stopInputField">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
