<div class="card">
  <div class="container">
    <div class="d-flex justify-content-between py-2 px-2">
      <span class="h4">{{dataTableTitle}}</span>
      <span>Stop #: {{stopID}}</span>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th *ngFor="let item of headElements" scope="col">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of fieldElements">
          <td>{{field.route_short_name}}</td>
          <td>{{field.description}}</td>
          <td>{{field.departure_text}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
